<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info</title>
</head>
<body>
  <app-navbar></app-navbar>

  <main class="container-fluid mtop">

    <div class="row">
      <div class="col-12 col-sm-6">
        <card-3d [image]="'../../../../assets/img/closets(10).webp'"></card-3d>
        <card-3d [image]="'../../../../assets/img/closets(9).webp'"></card-3d>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="card border-0 rounded-3 h-100">
          <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
            <h5 class="card-title text-center fw-bolder kanit">VENTA DE CLOSETS Y OTROS</h5>
            <p class="card-text text-justify line-height kanit-extralight fs-5">Ofrecemos una variedad de muebles , closets y soluciones de almacenamiento personalizadas para satisfacer tus necesidades. Nuestros productos son de alta calidad, duraderos y diseñados para maximizar el espacio. Ya sea que necesites un closet para tu dormitorio, cocina, sala de estar o cualquier otra habitación, tenemos la solución para ti. Si tienes algun closet Contáctanos para obtener más información y transformar tu hogar.</p>
            <div class="d-flex justify-content-center gap-2">
              <a href="#" class="btn btn-primary btn-sm">Facebook</a>
              <a href="#" class="btn btn-danger btn-sm">Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <card-3d [image]="'../../../../assets/img/closets(12).webp'"></card-3d>
        <card-3d [image]="'../../../../assets/img/closet (3).webp'"></card-3d>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card border-0 rounded-3 h-100">
          <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
            <h5 class="card-title text-center fw-bolder kanit">REMODELACIONES</h5>
            <p class="card-text text-justify line-height kanit-extralight fs-5">Nuestro servicio de remodelaciones transforma y revitaliza tus espacios. Entregamps resultados calidad que reflejen tus gustos y necesidades. Ya sea una renovación completa o una actualización de diseño, trabajamos contigo para hacer realidad tu visión. Contáctanos para discutir tus ideas y comenzar tu proyecto de remodelación.</p>
            <div class="d-flex justify-content-center gap-2">
              <a href="#" class="btn btn-primary btn-sm">Facebook</a>
              <a href="#" class="btn btn-danger btn-sm">Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>
</html>
