<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info</title>
</head>
<body>
  <app-navbar></app-navbar>

  <main class="container-fluid mtop">

    <div class="row">
      <div class="col-12 col-sm-6">
        <card-3d></card-3d>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="card border-0 rounded-3 h-100">
          <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
            <h5 class="card-title text-center">REMODELACIONES</h5>
            <p class="card-text text-justify">Contactame por estas redes para pedir mas informacion. Da Click</p>
            <div class="d-flex justify-content-center gap-2">
              <a href="#" class="btn btn-primary btn-sm">Facebook</a>
              <a href="#" class="btn btn-danger btn-sm">Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <card-3d></card-3d>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card border-0 rounded-3 h-100">
          <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
            <h5 class="card-title text-center">REMODELACIONES</h5>
            <p class="card-text text-justify">Contactame por estas redes para pedir mas informacion. Da Click</p>
            <div class="d-flex justify-content-center gap-2">
              <a href="#" class="btn btn-primary btn-sm">Facebook</a>
              <a href="#" class="btn btn-danger btn-sm">Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>
</html>
