<nav class="navbar navbar-expand-lg bg-black fixed-top border rounded-4 ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder d-flex align-items-center" href="#">
      <img src="../../../assets/img/aleon.jpg" alt="Aleon Logo" class="logo-image me-2">
      TIENDA <span class="text-primary fw-bolder">CLOSETS</span>
    </a>
    <button class="navbar-toggler border-0 shadow-none bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" #offcanvas>
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TIENDA <span class="text-primary-emphasis">CLOSETS</span></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active link text-white" aria-current="page" routerLink="/home" data-bs-dismiss="offcanvas">HOME</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link link" routerLink="/closets" data-bs-dismiss="offcanvas">CLOSETS</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link link" routerLink="/info" data-bs-dismiss="offcanvas">INFO</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link link" routerLink="/contactame" data-bs-dismiss="offcanvas">CONTACTAME</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
