*{
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: white;
}

.logo-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #fff;
}

@media (max-width: 991px){
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}

.link:hover{
  background-color: #082174;
  color: #fff;
}

