<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body >
  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- main -->
  <div class="container-fluid mtop">
    <div class="row">
      <!-- Información -->
      <div class="col-lg-6 order-lg-1 order-2 d-flex flex-column justify-content-center">
        <h2 class="text-center shojomaru fs-1">VENTA DE CLOSETS </h2>
        <p class="text-center text-justify fs-3">Pagina de venta de closets y otros tipos de muebles para el hogar!</p>
        <button class="btn py-3 bg-black">Click Aqui para mas informacion</button>

        <div class="social-media">
          <div id="social-platforms " class="mt-5 d-flex justify-content-center">
            <a class="btn btn-icon btn-facebook " href="#"><i class="bi bi-facebook"></i><span class="bg-primary">Facebook</span></a>
            <a class="btn btn-icon btn-whatsapp" href="#"><i class="bi bi-whatsapp"></i><span>WhatsApp</span></a>
            <a class="btn btn-icon btn-googleplus" href="#"><i class="bi bi-google"></i><span class="bg-danger">Gmail</span></a>
          </div>
        </div>
      </div>

      <!-- Carrusel de imágenes -->
      <div class="col-lg-6 order-lg-2 order-1 mb-5 ">
        <app-carrousel></app-carrousel>
      </div>

    </div>
  </div>

  <section class="container-fluid my-3">
    <h2 class="text-center fw-bolder fs-1">Sobre Nosotros</h2>
    <ul class="row list-unstyled mt-3">
      <li class="bi bi-cash col-4 text-center fw-bolder fs-1 text-success"></li>
      <li class="bi bi-tools col-4 text-center fw-bolder fs-1 text-success"></li>
      <li class="bi bi-shield-check col-4 text-center fw-bolder fs-1 text-success"></li>
    </ul>
    <div class="row">
      <p class="col-4 text-center text-justify">MEJORES PRECIOS </p>
      <p class="col-4 text-center text-justify">A TU GUSTO  </p>
      <p class="col-4 text-center text-justify">CONFIABILIDAD</p>
    </div>
  </section>


  <main class="container-fluid my-5">
    <h2 class="text-center fw-bolder fs-1">CLOSETS</h2>
    <div class="row row-gap-3">
      <div class="col-6 col-md-4">
        <app-card-producto [image]="'../../../assets/img/armario-brown.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
      <div class="col-6 col-md-4">
        <app-card-producto [image]="'../../../assets/img/armario-dark.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
      <div class="col-12 col-md-4 ">
        <app-card-producto [image]="'../../../assets/img/armario-brown.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
    </div>
    <div class="row row-gap-3 mt-3">
      <div class="col-6 col-md-4">
        <app-card-producto [image]="'../../../assets/img/armario-brown.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
      <div class="col-6 col-md-4">
        <app-card-producto [image]="'../../../assets/img/armario-dark.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
      <div class="col-12 col-md-4">
        <app-card-producto [image]="'../../../assets/img/armario-brown.jpg'" [text]="'CLOSET'"> </app-card-producto>
      </div>
    </div>

    <div class="my-4 m-auto text-center ">
      <button class="px-5 py-3 bg-black">Ver mas closets</button>
    </div>

  </main>


</body>
</html>
