      <!-- Carrusel de imágenes -->
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner border border-black rounded-5">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src="../../../assets/img/principal.jpg" class="d-block w-100 h-auto img-max img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/img/peakpx (6).jpg" class="d-block w-100 h-auto img-max img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/img/armario-brown.jpg" class="d-block w-100 h-auto img-max img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/img/armario-cafe.jpeg" class="d-block w-100 h-auto img-max img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/img/armario-dark.jpg" class="d-block w-100 h-auto img-max img-fluid" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/img/armario.jpeg" class="d-block w-100 h-auto" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


