<div class="hero">
  <section id="slideshow contenedor container">
    <div class="entire-content contenedor">
      <div class="content-carrousel">
          <figure class="shadow"><img src="../../../../assets/img/closet (1).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (2).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (3).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (4).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (8).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (9).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (10).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (11).webp"/></figure>
          <figure class="shadow"><img src="../../../../assets/img/closet (12).webp"/></figure>
    </div>
    </div>
  </section>
</div>
