<div class="hero">
  <section id="slideshow contenedor container">
    <div class="entire-content contenedor">
      <div class="content-carrousel">
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(1).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(2).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(3).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(4).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(8).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(9).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(10).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(11).webp" fill/></figure>
          <figure class="shadow"><img ngSrc="../../../../assets/img/closets(12).webp" fill/></figure>
    </div>
    </div>
  </section>
</div>
