<app-navbar></app-navbar>
<section id="contact" class="bg-black mtop text-white">

  <h1 class="section-header">Contact</h1>

  <div class="contact-wrapper">

  <!-- Left contact page -->

    <form id="contact-form" class="form-horizontal" role="form">

      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control text-white" id="name" placeholder="INTRODUCE TU NOMBRE " name="name" value="" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control text-white" id="email" placeholder="INTRODUCE TU CORREO " name="email" value="" required>
        </div>
      </div>

      <textarea class="form-control text-white" rows="10" placeholder="INTRODUCE EL MENSAJE A ENVIAR" name="message" required></textarea>

      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <button class="btn btn-primary">ENVIAR</button>
        </div>

      </button>

    </form>

  <!-- Left contact page -->

      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="bi bi-geo-alt-fill"><span class="contact-text place">City, Estado de Mexico</span></i></li>

          <li class="list-item"><i class="bi bi-telephone-fill"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(+52) 56 37 06 45 52</a></span></i></li>

          <li class="list-item"><i class="bi bi-envelope-fill"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">marcos.gmail.com</a></span></i></li>
        </ul>

        <hr>
        <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
                <i class="bi bi-facebook"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                <i class="bi bi-google"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                <i class="bi bi-twitter"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
                <i class="bi bi-instagram"></i></a>
            </li>
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>

  </div>

</section>
