<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <header class="d-flex justify-content-between align-items-center p-2">
    <button class="btn btn-primary" type="button">Abrir</button>
    <h1 class=" fw-bold text-primary">DASHBOARD</h1>
    <button class="btn btn-primary border-0 rounded-5 p-2" (click)="onLogout()">CERRAR SESION</button>
  </header>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Agregar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para introducir un nuevo usuario</p>
          </div>
        </div>
      </div> <!-- CARD 1 -->
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Editar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Editar un nuevo usuario</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Eliminar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Eliminar un nuevo usuario</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Agregar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para introducir un nuevo usuario</p>
          </div>
        </div>
      </div> <!-- CARD 1 -->
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Editar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Editar un nuevo usuario</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Eliminar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Eliminar un nuevo usuario</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 text-center">
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Agregar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para introducir un nuevo usuario</p>
          </div>
        </div>
      </div> <!-- CARD 1 -->
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Editar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Editar un nuevo usuario</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-gradient-card rounded-4">
          <div class="card-body">
            <h5 class="card-title text-white">Eliminar Nuevo usuario</h5>
            <p class="card-text text-white">Click aqui para Eliminar un nuevo usuario</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
