body{
  background: url(assets/img/armario-dark.jpg) rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: white;
}

.mtop{
  margin-top: 7rem;
}


/* 56 37 06 45 52 */
/*  */
