@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background: url(assets/img/armario-dark.jpg) rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: white;
}

.mtop{
  margin-top: 7rem;
}


/* 56 37 06 45 52 */
/*  */
