
<!-- Tu tarjeta con la imagen -->
<div class="card">
  <img [src]="image" class="card-img-top img-fluid card-img-large" alt="card image"
  data-bs-toggle="modal" data-bs-target="#imageModal" (click)="onImageClick()">
  <!-- ... el resto de tu código ... -->
  <div class="card-body bg-black text-white ">
    <h5 class="card-title">{{text}}</h5>
    <p class="card-text text-justify">Contactame por estas redes para pedir mas informacion. Da Click</p>
    <div class="d-flex justify-content-center gap-2">
      <a href="#" class="btn btn-primary btn-sm">Facebook</a>
      <a href="#" class="btn btn-danger btn-sm">Email</a>
    </div>
  </div>

</div>




