<div class="card border-0 rounded-3">
  <picture>
    <source media="(max-width: 600px)" [srcset]="srcset" >
    <img [src]="image" fill class="card-img-top img-fluid card-img-large border-0 rounded-top-3" alt="card image"
    data-bs-toggle="modal" data-bs-target="#imageModal" (click)="onImageClick()">
  </picture>
  <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
    <h5 class="card-title">{{text}}</h5>
    <p class="card-text text-justify">Contactame por estas redes para pedir mas informacion. Da Click</p>
    <div class="d-flex justify-content-center gap-2">
      <a href="#" class="btn btn-primary btn-sm">Facebook</a>
      <a href="#" class="btn btn-danger btn-sm">Email</a>
    </div>
  </div>
</div>
