<div class="card border-0 rounded-3">
  <picture>
    <source media="(max-width: 600px)" [srcset]="srcset" >
    <img [src]="image" fill class="card-img-top img-fluid card-img-large border-0 rounded-top-3" alt="card image"
    data-bs-toggle="modal" data-bs-target="#imageModal" (click)="onImageClick()">
  </picture>
  <div class="card-body bg-black text-white border-0 rounded-bottom-3 z-3">
    <h5 class="card-title text-center">{{text}}</h5>
    <p class="card-text text-justify text-center">Contactame para pedir mas informacion. Da Click</p>
    <div class="d-flex justify-content-center gap-2">
      <a href="#" class="btn btn-light btn-sm fw-bolder" routerLink="/contactame">CONTACTAME</a>
    </div>
  </div>
</div>
